* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(120, 160, 242);
    background: linear-gradient(90deg, rgba(120, 160, 242, 1) 7%, rgba(71, 121, 9, 1) 23%, rgba(255, 0, 250, 1) 49%, rgba(250, 135, 117, 1) 69%);
}

.container {
    margin-top: 40px;
    margin-left: 26%;
    background-color: #FFEBE7;
    width: 1000px;
    border: 1px solid #FFEBE7;
    border-radius: 20px;
}

.content {
    border-radius: 26px 51px;
    background-color: #F9C8C6;
    width: 500px;
    margin: 0 auto;
}

.block1 {
    padding-bottom: 35px;
    text-align: center;
    padding-top: 35px;
    position: relative;
}

.text_one {
    font-family: 'Zen Tokyo Zoo', cursive;
}

.box {
    font-size: 50px;
}

.block1_one {
    position: absolute;
    left: 65%;
    top: 10px;
}

.block2 {
    padding-top: 5%;
    text-align: center;
    padding-bottom: 5%;
}

input {
    margin-right: 10px;
    width: 28%;
    padding: 5px;
}

#btn {
    color: white;
    background-color: #E05244;
    border: 1px solid #E05244;
    padding: 5px;
}

.block4 {
    font-size: 13px;
    padding-top: 145px;
    text-align: center;
}